a{color:#ff6;cursor: pointer;}
a:visited{color:#9AF}
a:hover,a.hover { text-decoration: underline; }
body{background-color:#010101;font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;color:#FFF}
span.link{color:#ff6}
.tooltip{display:inline;position:relative}
tooltip:hover:after{background:#333;background:rgba(0,0,0,.8);border-radius:5px;bottom:26px;color:#fff;content:attr(title);left:20%;padding:5px 15px;position:absolute;z-index:98;width:220px}
.olddesc{border-top:1px dotted gray}
.new{font-style:italic}
.end{color:red}
.relevant{color:#FFF}
/*.oldnews{color:#999}*/
.pony{color:#ff4081}
.behemoth{color:#ff5722}
/*.volan{color:#FF9!important}*/
.yule{color:#00e676}
.unstable{color:#03a9f4}
.fortress{color:#80cbc4}
.vostigar{color:#B2EBF2}
.nearavg{color:#ffeb3b}
.nearend{color:#d50000}
td.pvp1,div.pvp1{color:#9c27b0}
.tagged{opacity:0.5;}
table.ret,table.sortable{margin-left:5%;width:67%;border:2px solid white;border-collapse:separate;border-spacing:0;border-radius:15px;}
th:first-child{border-radius: 15px 0 0 0;}
th:last-child{border-radius: 0 15px 0 0;}
th:only-child{border-radius: 15px 15px 0 0;}
tr:last-child>td:first-child{border-radius: 0 0 0 15px;}
tr:last-child>td:last-child{border-radius: 0 0 15px 0;}
table tbody td{text-align:center;}
table.ret tr:nth-child(even) td{background: #212121;}
table tr.stats:nth-child(even) td{background-color:#1a237e}
table tbody tr.firstold{border-top:1px dotted gray}
table tbody tr:hover td{background-color:#616161!important}
table thead tr th{font-weight:700;text-align:center;background:#424242;}
p.disclaimer{font-size:70%;margin-left:5%;width:70%;opacity:0.7}
p.footer{font-size:90%;margin-left:5%;width:70%}
.normal{margin-left:5%;width:70%}
img.gray {
    -webkit-filter: grayscale(100%);
       -moz-filter: grayscale(100%);
         -o-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
            filter: grayscale(100%); 
}
div.caption {font-size:85%;text-align:left;width:20%;vertical-align:middle;margin-right:5%;float:right;clear:both}
table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
	    content: " \25B4\25BE"
}
h4.label{margin-left:5%;font-weight:700;text-align:left;margin-bottom: 0;}
.downarrow:before { content: "\25BC  "; }
.rightarrow:before { content: "\25B6  "; }
