A:link{color:#ff6}
A:visited{color:#9AF}
body{background-color:#000;font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;color:#FFF}
span.link{color:#ff6}
.tooltip{display:inline;position:relative}
tooltip:hover:after{background:#333;background:rgba(0,0,0,.8);border-radius:5px;bottom:26px;color:#fff;content:attr(title);left:20%;padding:5px 15px;position:absolute;z-index:98;width:220px}
.olddesc{border-top:1px dotted gray}
.new{font-style:italic}
.label{font-weight:700}
.end{color:red}
.relevant{color:#FFF}
.oldnews{color:#999}
.pony{color:#F3C!important}
.behemoth{color:#F66!important}
.volan{color:#FF9!important}
.unstable{color:#69F!important}
.nearend{color:#F60}
table{margin-left:auto;margin-right:auto;border-collapse:collapse;width:60%}
table tbody{border:1px solid #fff;border-collapse:separate;border-spacing:1px}
table tbody td{text-align:center}
table tbody:nth-child(2n+1){background-color:#00002D}
table tr.stats:nth-child(2n+1){background-color:#00002D}
table tbody tr.firstold{border-top:1px dotted gray}
table tbody tr:hover{background-color:#333!important}
table thead{font-weight:700;text-align:center}
p.disclaimer{font-size:70%;text-align:center;margin-left:auto;margin-right:auto;width:60%}
p.caption{font-size:90%;text-align:center;}
img.gray {
    -webkit-filter: grayscale(100%);
       -moz-filter: grayscale(100%);
         -o-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
            filter: grayscale(100%); 
						filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
						zoom: 1;
}
