a{color:#ff6;cursor: pointer;}
a:visited{color:#9AF}
a:hover,a.hover { text-decoration: underline; }
body{background-color:#000;font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;color:#FFF}
span.link{color:#ff6}
.tooltip{display:inline;position:relative}
tooltip:hover:after{background:#333;background:rgba(0,0,0,.8);border-radius:5px;bottom:26px;color:#fff;content:attr(title);left:20%;padding:5px 15px;position:absolute;z-index:98;width:220px}
.olddesc{border-top:1px dotted gray}
.new{font-style:italic}
.end{color:red}
.relevant{color:#FFF}
/*.oldnews{color:#999}*/
.pony{color:#F3C!important}
.behemoth{color:#F60!important}
/*.volan{color:#FF9!important}*/
.yule{color:#0F0!important}
.unstable{color:#69F!important}
.nearavg{color:#FF0!important}
.nearend{color:#F00!important}
.pvp1{color:#B20000!important}
table.ret,table.sortable{margin-left:5%;border-collapse:collapse;width:60%}
table tbody{border:1px solid #fff;border-collapse:separate;border-spacing:1px}
table tbody td{text-align:center}
table.ret tr:nth-child(even) {background: #00002D;}
table tr.stats:nth-child(even){background-color:#00002D}
table tbody tr.firstold{border-top:1px dotted gray}
table tbody tr:hover{background-color:#333!important}
table thead{font-weight:700;text-align:center}
p.disclaimer{font-size:70%;margin-left:5%;width:70%}
p.footer{font-size:90%;margin-left:5%;width:70%}
.normal{margin-left:5%;width:70%}
img.gray {
    -webkit-filter: grayscale(100%);
       -moz-filter: grayscale(100%);
         -o-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
            filter: grayscale(100%); 
						filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
						zoom: 1;
}
div.caption {font-size:85%;text-align:left;width:20%;vertical-align:middle;margin-right:12%;float:right}
table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
	    content: " \25B4\25BE"
}
h4.label{margin-left:5%;font-weight:700;text-align:left;margin-bottom: 0;}
